// app global css in SCSS form
.body--dark {
  .q-router-link--active {
    color: white !important;
  }
  .my-sticky-dynamic .q-table__top,
  thead tr:first-child th {
    background-color: --q-dark !important;
  }

}

.body--light{
  .ace-xcode{
    border: 1px solid #e8e8e8;
    border-radius: 5px;
  }

  .my-sticky-dynamic .q-table__top,
thead tr:first-child th {
  background-color: #fafafa !important;
}

}


.q-router-link--active {
  color: black !important;
}
