// app global css in SCSS form
.body--dark {
  .q-router-link--active {
    color: white !important;
  }
}

.body--light{
  .ace-xcode{
    border: 1px solid #e8e8e8;
    border-radius: 5px;
  }
}


.q-router-link--active {
  color: black !important;
}
