// app global css in SCSS form
.body--dark {
  .q-router-link--active {
    color: white !important;
    font-size: 1.1rem;
  }
}

  .q-router-link--active {
    color: black !important;
    font-size: 1.1rem;

}
